<div class="row">
  <div class="col-md-6">
    <button class="btn btn-outline-primary" (click)="start()">Start</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-danger" (click)="stop()">Stop</button>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <app-odd
      *ngIf="incrementalVal % 2 !== 0; else even"
      [incrementalVal]="incrementalVal"
    ></app-odd>
    <ng-template #even>
      <app-even [incrementalVal]="incrementalVal"></app-even>
    </ng-template>
  </div>
</div>
