<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'">Main</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          fragment="loading"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          fragment="loading"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/http">Http</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="forms/td">Template Form Driven</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="forms/fr">Reactive Form Driven</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="/servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/users'">Users</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="observables/home-observables"
            >Home Observables</a
          >
        </li>
        <li role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="pips">pips</a>
        </li>

        <li role="presentation" routerLinkActive="active">
          <a
            class="nav-link"
            [routerLink]="['observables/user-observables', 1]"
          >
            User 1 Observables
          </a>
        </li>

        <li role="presentation" routerLinkActive="active">
          <a
            class="nav-link"
            [routerLink]="['observables/user-observables', 2]"
          >
            User 2 Observables
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/services'">Services</a>
        </li>
      </ul>
    </div>
  </div>
</div>
